ul.dropdown-menu.report {height: 500PX;overflow: scroll;}
span.required {color: red;}
@media screen and (max-width: 992px) {
	span.select2.select2-container.select2-container--default {
		width: 247px !important;
	}
}
 @media only screen and (min-width:960px){
     span.select2.select2-container.select2-container--default {
		width: 216px !important;
	}
    }
    @media only screen and (min-width:1440px){
     span.select2.select2-container.select2-container--default {
		width: 237px !important;
	}
    }
 @media only screen and (device-width:768px){
	 span.select2.select2-container.select2-container--default {
		width: 105px !important;
	}
 }
 @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      span.select2.select2-container.select2-container--default {
		width: 101px !important;
	}
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
       span.select2.select2-container.select2-container--default {
		width: 155px !important;
	}
    }
 