<?php
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    GST Module
 * @package     GST
 * @copyright   Copyright (c) 20170 .Codilar. (http://www.codilar.com)
 * @purpose     [BRIEF ABOUT THE FILE]
 * @author       Codilar Team
 **/
?>
<?php
/** @var $_source Mage_Sales_Model_Order_Invoice */
$_source = $this->getSource();
$_order = $this->getOrder();

$CreatedAt = $_order->getCreatedAt();
$helper = Mage::helper('codilar_gst');
$lstdate = $helper->orderDate();
$store_id =  $_order->getStoreId();
$_shippingAddress = $_order->getShippingAddress();
$shipping_city = $_shippingAddress->getRegion() ;
$production_state = Mage::getStoreConfig('general/gst_options/gst_state', $store_id); 

$_fullInfo = $this->getFullTaxInfo();
$isWeee = false;
if(preg_match("/^1.9/", Mage::getVersion())){
    $isWeee = true; 
}
if($isWeee){
    $_weees = $this->helper('tax')->getAllWeee($_order);
}

global $taxIter;
$taxIter++;
?>

<?php if ($this->displayFullSummary()): ?>
    <?php $isTop = 1; ?>
    <?php if (isset($_fullInfo[0]['rates'])): ?>
        <?php foreach ($_fullInfo as $info): ?>
            <?php if (isset($info['hidden']) && $info['hidden']) continue; ?>
            <?php
            $percent = $info['percent'];
            $amount = $info['amount'];
            $baseAmount = $info['base_amount'];
            $rates = $info['rates'];
            $isFirst = 1;
            ?>

            <?php foreach ($rates as $rate): ?>
            <?php if(strcasecmp($shipping_city,$production_state) == 0 ){ ?>
                <tr class="summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
                    style="display:none;">
                        <td class="label"><?php echo "CGST"; ?><br/></td>
                    <?php if ($isFirst): ?>
                        <td rowspan="<?php echo count($rates); ?>"><?php echo $this->displayAmount($amount, $baseAmount); ?></td>
                    <?php endif; ?>
                </tr>
                <tr class="summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
                    style="display:none;">
                        <td class="label"><?php echo $rate['title']; ?><br/></td>
                    <?php if ($isFirst): ?>
                        <td rowspan="<?php echo count($rates); ?>"><?php echo $this->displayAmount($amount, $baseAmount); ?></td>
                    <?php endif; ?>
                </tr>
                <?php
                $isFirst = 0;
                $isTop = 0;
                ?>
                <?php } ?>
            <?php endforeach; ?>
        <?php endforeach; ?>
    <?php else: ?>
        <?php if($CreatedAt < $lstdate){ ?>
            <?php foreach ($_fullInfo as $info): ?>
                <?php
                $percent = $info['percent'];
                $amount = $info['tax_amount'];
                $baseAmount = $info['base_tax_amount'];
                $isFirst = 1;
                ?>
                 <tr class="summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
                 style="display:none;">
                <?php if (!is_null($info['percent'])): ?>
                 <td class="label"><?php echo $this->escapeHtml($info['title']); ?>
                 (<?php echo (float)$info['percent']; ?>%)<br/></td>
                <?php else: ?>
                 <td class="label"><?php echo $this->escapeHtml($info['title']); ?><br/></td>
                <?php endif; ?>
                 <td><?php echo $this->displayAmount($amount, $baseAmount); ?></td>
                 </tr>
                <?php
                $isFirst = 0;
                $isTop = 0;
                ?>
            <?php endforeach; ?>
        <?php }else{ ?>
            <?php if(strcasecmp($shipping_city,$production_state) == 0 ){ 
                $new_taxamount = $_source->getTaxAmount()/2;
            ?>
            <tr class="summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
                style="display:none;">
                <td class="label"><?php echo $this->escapeHtml('CGST'); ?><br/></td>
                <td><?php echo Mage::helper('core')->currency($new_taxamount); ?></td>
            </tr>
            <tr class="summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
                style="display:none;">
                <td class="label"><?php echo $this->escapeHtml('SGST'); ?><br/></td>
                <td><?php echo Mage::helper('core')->currency($new_taxamount); ?></td>
            </tr>
            <?php }else{ ?>
                <tr class="summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
                style="display:none;">
                <td class="label"><?php echo $this->escapeHtml('IGST'); ?><br/></td>
                <td><?php echo $this->displayAmount($_source->getTaxAmount(), $_source->getBaseTaxAmount()); ?></td>
            </tr>
            <?php } ?>
        <?php } ?>
    <?php endif; ?>
    <?php if($isWeee): ?>
    <?php foreach ($_weees as $weeeTitle => $weeeAmount): ?>
        <tr class="summary-details-<?php echo $taxIter; ?> summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"
            style="display:none;">
            <td class="a-right" colspan="1">
                <?php echo $this->escapeHtml($weeeTitle); ?>
                <br/>
            </td>
            <td class="a-right" rowspan="1">
                <?php echo $this->helper('checkout')->formatPrice($weeeAmount); ?>
            </td>
        </tr>
    <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>
<?php if ($this->displayFullSummary() && ($_fullInfo || $_weees)): ?>
<tr class="summary-total" onclick="expandDetails(this, '.summary-details')">
    <?php else: ?>
<tr>
    <?php endif; ?>
    <td class="label">
        <?php if($CreatedAt < $lstdate){ ?>
            <div class="summary-collapse">
                <?php if ($this->helper('tax')->displayFullSummary()): ?>
                    <?php echo Mage::helper('sales')->__('Total Tax') ?>
                <?php else: ?>
                    <?php echo Mage::helper('sales')->__('Tax') ?>
                <?php endif; ?>
            </div>
        <?php }else{ ?>
            <div class="summary-collapse">
                <?php if ($this->helper('tax')->displayFullSummary()): ?>
                    <?php echo Mage::helper('sales')->__('Total GST') ?>
                <?php else: ?>
                    <?php echo Mage::helper('sales')->__('GST') ?>
                <?php endif; ?>
            </div>
        <?php } ?>
    </td>
    <td>
        <?php echo $this->displayAmount($_source->getTaxAmount(), $_source->getBaseTaxAmount()); ?>
    </td>
</tr>
