<?php 
$_dataHelper = $this->getDataHelper();
$_configProduct = $this->getLoadedProduct();

if(!$_configProduct->getId()){
	echo '<ul class="messages">
            <li class="notice-msg">
                <ul><li>'.__("Please create configurable product first. Matrix will be available in edit product mode.").'</li></ul>
            </li>
        </ul>';
	return;
}


$attributeJason = $this->getAttributesJson();
$attributesDecoded = Mage::helper('core')->jsonDecode($attributeJason);
$associatedProductsIds = array();
$associatedProductsData = array();
foreach($attributesDecoded as $attributesDcd){
	$attributeIds[] = $attributesDcd['attribute_id'];
	$attributeCodes[] = $attributesDcd['attribute_code'];
	$attributeLabels[] = $attributesDcd['frontend_label'];
	foreach($attributesDcd['values'] as $attrVal){
		$valueSelected[] = $attributesDcd['attribute_id'].'_'.$attrVal['value_index'];
	}
}

$nextMode = $this->isUseNext($attributeCodes);
$editMode = $inNextStep = $isOtherActive = false;
$editMode = false;
$generalAttrs = array();
if($_configProduct->getId()){
	$bema = new Best4Mage_Ecpm_Model_Attributes();
	if($this->hasData('others_attr')){
		$others_attr = $this->getData('others_attr');
		$bema->setDefaultAttributeId($others_attr);
	}
	$generalAttrs = $bema->getAvailableSwatchAttributes($_configProduct->getAttributeSetId());
	
	//>> for use in next
	if($this->hasData('others_attr')){
		$others_attr = $this->getData('others_attr');
		if(count($others_attr) > 0) $this->setOtherAttributesArray($generalAttrs);
	}
	//<<
	
	$editMode = true;
	$associatedProducts = $_configProduct->getTypeInstance(true)
			->getUsedProductCollection($_configProduct)
			->addAttributeToSelect('*')
			->addFilterByRequiredOptions();
	
	if($this->hasData('default_attribute')) {
		$defOptions = $this->getData('default_attribute');
		foreach($attributesDecoded as $attributesDcd){
			if(isset($defOptions[$attributesDcd['attribute_id']]) && count($defOptions[$attributesDcd['attribute_id']])){
				$associatedProducts->addAttributeToFilter($attributesDcd['attribute_code'], array('in' => $defOptions[$attributesDcd['attribute_id']]));
			}
		}
		$inNextStep = true;
	}
	
	foreach($associatedProducts as $associatedProduct){
		$keyOfCodeIdData = array();
		foreach($attributeCodes as $attrCd) $keyOfCodeIdData[] = $associatedProduct->getData($attrCd);
		
		$associatedProductsData[implode('_',$keyOfCodeIdData)] = $associatedProduct; 
		
		$associatedProductsIds[implode('_',$keyOfCodeIdData)] = $associatedProduct->getEntityId();
	}
}

if($editMode){
	$attributes = $attributeIds;	
}else{
	$attributesEncoded = $this->getRequest()->getParam('attributes');
	$attributesStr = Mage::helper('core')->urlDecode($attributesEncoded);
	$attributes = explode(",", $attributesStr);
}

if(count($attributes) > 2) {
	echo '<ul class="messages">
			<li class="notice-msg">
				<ul><li>'.__("To use ECPM for more than 2 attributes, you have to use our Pro Version. Check Best4Mage website for more information.").'</li></ul>
			</li>
		</ul>';
	return;
}
?>

<div id="ecpm_save_products">
<div class="content-buttons-placeholder">
	<?php if($nextMode):?>
        <div class="entry-edit-head">
			<?php if($this->isOtherAttrEnabled() && !$this->hasData('next_default_attribute')):?>
				<h3 style="display:inline-block"><?php echo $_dataHelper->__("Preselect Active Attributes");?></h3>
				<button style="float:right;" onclick="javascript:ecpmNext('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadotherattr", array('cid' => $_configProduct->getId()));?>',true)" class="scalable save" type="button" title="<?php echo $_dataHelper->__("Next") ?>" id="ecpm_next_button"><span><span><span><?php echo $_dataHelper->__("Next") ?></span></span></span></button>
			<?php elseif($this->isOtherAttrEnabled() && $this->hasData('next_default_attribute')): $isOtherActive = true;?>
				<h3 style="display:inline-block"><?php echo $_dataHelper->__("Other Attributes");?></h3>
				<button style="float:right;" onclick="javascript:ecpmMiddle('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadmatrix", array('cid' => $_configProduct->getId()));?>',true)" class="scalable save" type="button" title="<?php echo $_dataHelper->__("Next") ?>" id="ecpm_next_button"><span><span><span><?php echo $_dataHelper->__("Next") ?></span></span></span></button>
				<button style="float: right; margin-right: 10px;" onclick="javascript:ecpmNext('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadmatrix", array('cid' => $_configProduct->getId(), 'back' => 1));?>', false)" class="scalable back" type="button" title="<?php echo $_dataHelper->__("Preselect Attributes") ?>" id="ecpm_reset_button"><span><span><span><?php echo $_dataHelper->__("Preselect Attributes") ?></span></span></span></button>
				<input type="hidden" id="middle_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('next_default_attribute'));?>' />
			<?php else:?>
				<h3 style="display:inline-block"><?php echo $_dataHelper->__("Preselect Active Attributes");?></h3>
				<button style="float:right;" onclick="javascript:ecpmNext('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadmatrix", array('cid' => $_configProduct->getId()));?>',true)" class="scalable save" type="button" title="<?php echo $_dataHelper->__("Next") ?>" id="ecpm_next_button"><span><span><span><?php echo $_dataHelper->__("Next") ?></span></span></span></button>
			<?php endif;?>
        </div>
    <?php else:?>
        <p class="a-right">	
			<?php if($this->isOtherAttrEnabled() && $inNextStep):?>
				<button style="" onclick="javascript:ecpmNext('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadotherattr", array('cid' => $_configProduct->getId(), 'back' => 1));?>', false)" class="scalable back" type="button" title="<?php echo $_dataHelper->__("Other Attributes") ?>" id="ecpm_reset_button"><span><span><span><?php echo $_dataHelper->__("Other Attributes") ?></span></span></span></button>
				<input type="hidden" id="next_step_matrix_data" name="next_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('default_attribute'));?>' />
				<?php if($this->hasData('others_attr')):?>
				<input type="hidden" id="middle_step_matrix_data" name="middle_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('others_attr'));?>' />
				<?php endif;?>
			<?php elseif($inNextStep):?>
				<button style="" onclick="javascript:ecpmNext('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadmatrix", array('cid' => $_configProduct->getId(), 'back' => 1));?>', false)" class="scalable back" type="button" title="<?php echo $_dataHelper->__("Preselect Attributes") ?>" id="ecpm_reset_button"><span><span><span><?php echo $_dataHelper->__("Preselect Attributes") ?></span></span></span></button>
				<input type="hidden" name="next_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('default_attribute'));?>' />
				<?php if($this->hasData('others_attr')):?>
				<input type="hidden" name="middle_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('others_attr'));?>' />
				<?php endif;?>
			<?php endif;?>
			
			<?php /*if($inNextStep):?>
                <?php if($_dataHelper->isUsePreselection()):?>
                <button style="" onclick="javascript:ecpmNext('<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/loadmatrix", array('cid' => $_configProduct->getId(), 'back' => 1));?>', false)" class="scalable back" type="button" title="<?php echo $_dataHelper->__("Preselect Attributes") ?>" id="ecpm_reset_button"><span><span><span><?php echo $_dataHelper->__("Preselect Attributes") ?></span></span></span></button>
                <?php endif;?>
                <input type="hidden" name="next_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('default_attribute'));?>' />
            <?php endif;*/?>
            
			<?php $matrixFields = $this->getMatrixFields();  if(!$matrixFields){ ?>
                <button style="" onclick="javascript:ecpmcheckAllCheckboxes(true)" class="scalable" type="button" title="<?php echo $_dataHelper->__("Check All Checkboxes") ?>" id="ecpm_check_all_checkboxes"><span><span><span><?php echo $_dataHelper->__("Check All Checkboxes") ?></span></span></span></button>
            <?php } ?>
            <?php echo $this->delButtonsHtml();?>
            <button style="" onclick="javascript:ecpmShowDefaultValuesForm()" class="scalable" type="button" title="<?php echo $_dataHelper->__("Set Default Values") ?>" id="ecpm_show_default_values_form"><span><span><span><?php echo $_dataHelper->__("Set Default Values") ?></span></span></span></button>
            <button style="" onclick="javascript:ecpmSaveProducts('<?php echo $this->getEcpmSaveProductsUrl() ?>')" class="scalable save" type="button" title="<?php echo $_dataHelper->__("Save Products") ?>" id="ecpm_save_products_button"><span><span><span><?php echo $_dataHelper->__("Save Products") ?></span></span></span></button>
		</p> 
	<?php endif;?>
	
</div>

<?php 
//echo __FILE__;

if($isOtherActive && count($generalAttrs) > 0) {
	$tableHtml = '';
	foreach($generalAttrs as $aId => $attr){
		$defAttrCd = $attr['code'];
		if(in_array($defAttrCd, $attributeCodes)) continue;
		$tableHtml .= '<tr><td><input type="checkbox" name="ecpm[attribute]['.$aId.'][]" id="ecpm_attribute_'.$aId.'" value="'.$aId.'" /><label for="ecpm_attribute_'.$aId.'">'.$attr['title'].'</label></td></tr>';
	}
	echo '<div id="leftAttributeGrid"><table cellspacing="0" cellpadding="0" class="other_attr">'.$tableHtml.'</table></div>';
	
} else {

	if($nextMode){
		$table2Html = '';
		
		foreach($attributeCodes as $keyAttr => $attr){
			$table2Html .= '<tr>';
			
			$attributeObjs = Mage::getModel('eav/config')->getAttribute('catalog_product', $attr);
			if($attributeObjs)
			{
				$table2Html .= '<td class="v-middle"><input type="checkbox" class="ecpm_attribute" id="ecpm_attribute_'.$attributeIds[$keyAttr].'" onclick="ecpmToggleAllOptions(this);" value="'.$attributeIds[$keyAttr].'"/><label for="ecpm_attribute_'.$attributeIds[$keyAttr].'">'.$attributeObjs->getFrontendLabel().'</label></td>';
				
				$attributeOptions = $this->getFilteredOptions($attributeObjs);
					
				if(count($attributeOptions)>0)
				{
					$table2Html .= '<td class="no-table-padding"><table cellspacing="0" cellpadding="0">';
					foreach($attributeOptions as $option)
					{
						$table2Html .= '<tr><td><input type="checkbox" class="optionof_'.$attributeIds[$keyAttr].'" name="ecpm[attribute]['.$attributeIds[$keyAttr].'][]" id="ecpm_attribute_'.$attributeIds[$keyAttr].'_'.$option['value'].'" value="'.$option['value'].'"'.($nextMode && in_array($attributeIds[$keyAttr].'_'.$option['value'], $valueSelected) ? ' checked="checked"' : '').'/><label for="ecpm_attribute_'.$attributeIds[$keyAttr].'_'.$option['value'].'">'.$option['label'].'</label></td></tr>';
					}
					$table2Html .= '</table></td>';
				}
			}
			$table2Html .= '</tr>';
		}
		echo '<div style="position: relative;">';
		echo '<div id="leftAttributeGrid"><table cellspacing="0" cellpadding="0">'.$table2Html.'</table></div>';
		echo '</div>';
	}

	if(count($attributes)==1 && !$nextMode){
		$attributeId1 = $attributes[0];
		$attributeObjs = array();
		$attrCollection = Mage::getModel('eav/entity_attribute')->getCollection()
			->addFieldToFilter('attribute_id', array('in', $attributes));
		foreach($attrCollection as $attr){
			$attributeObjs[] = Mage::getModel('eav/config')->getAttribute('catalog_product', $attr->getAttributeCode());
		}
		
		$attribute1 = $attributeObjs[0];
		
		$attribute1FrontLabel = $attribute1->getFrontendLabel();
		$attribute1Options = $this->getFilteredOptions($attribute1);
		$attribute1OptionsCount = count($attribute1Options);
		
		$attribute2Options = array(0);
		
		$matrixCols = 2;
		$matrixRows = $attribute1OptionsCount;
		
		echo "<input class='qty' type='hidden' name='ecpm_qty_format' value='".$attribute1->getAttributeCode()."/NOATTR' />";
		$tdHtml = "";
		$headTr = "<th>".$attribute1FrontLabel.($this->getIsShowImage() ? "<br/>".__('Bulk Image')."&nbsp;<input type='checkbox' style='width: auto;' onclick='javascript:ecpmUploadRow(this);' value='1'/>" : ""). "</th>";
		$tableHtml = "";
		$firstLoopCount = 0;
		$qtyLabel = $_dataHelper->__("Qty")." <br/>";
		$priceLabel = $_dataHelper->__("Price")." <br/>";
				
		foreach($attribute2Options as $secondLoopCount => $attribute2Option){
			$tdHtml .= "<tr>";
				foreach($attribute1Options as $key => $attribute1Option){
					if(empty($attribute1Option['value'])){
						continue;
					}
					if($key==0){
						$tdHtml .= "<th>".$this->getMatrixFieldHead(array('value'=>$attribute2Option, 'label' => ''),'column',true)."</th>";
					}
					
					if($secondLoopCount==0){
						$headTr .= "<th>".$this->getMatrixFieldHead($attribute1Option,'row',true)."</th>";
					}
					
					$tdHtml .= "<td>";
					if(isset($associatedProductsData[$attribute1Option['value']])){
						$tdHtml .= $this->getMatrixFieldsTd($attribute1Option['value'], $attribute2Option, $associatedProductsData[$attribute1Option['value']]);
					}else{
						$tdHtml .= $this->getMatrixFieldsTd($attribute1Option['value'], $attribute2Option);
					}
		
					$productId = (isset($associatedProductsIds[$attribute1Option['value']]))?$associatedProductsIds[$attribute1Option['value']]:false;
					if($productId){
						$tdHtml .= "<div class='edit_delete_links'><a class='edit_link' href='javascript:ecpmEditProduct(\"".$this->getEditSingleProductUrl($productId)."\")'>&nbsp;</a>&nbsp;<a class='delete_link' href='javascript:ecpmDeleteProduct(\"".$this->getDeleteSingleProductUrl($productId)."\")'>&nbsp;</a> <input class='qty' type='hidden' name='ecpm[p_ids][".$attribute1Option['value']."][".$attribute2Option."]' value='".$productId."' /></div>";
					}
					
					$tdHtml .= "</td>";
				}
			$tdHtml .= "</tr>";
			$firstLoopCount++;
		}
		$tableHtml = "<table cellspacing='0' cellpadding='0'><tr>".$headTr."</tr>".$tdHtml."</table>";
		echo $tableHtml;	
	}


	if(count($attributes)==2 && !$nextMode){
		$attributeId1 = $attributes[0];
		$attributeId2 = $attributes[1];
		$attributeObjs = array();
		$attrCollection = Mage::getModel('eav/entity_attribute')->getCollection()
			->addFieldToFilter('attribute_id', array('in', $attributes));
		foreach($attrCollection as $attr){
			$attributeObjs[] = Mage::getModel('eav/config')->getAttribute('catalog_product', $attr->getAttributeCode());
		}
		
		$attribute1 = $attributeObjs[0];
		$attribute2 = $attributeObjs[1];
		if($attributeCodes[0]!=$attribute1->getAttributeCode()){
			$attribute1temp = $attribute1;
			$attribute1 = $attribute2;
			$attribute2 = $attribute1temp;
			$attribute1temp = "";
		}
		
		$attribute1FrontLabel = $attribute1->getFrontendLabel();
		$attribute1Options = $this->getFilteredOptions($attribute1);
		$attribute1OptionsCount = count($attribute1Options);
		
		$attribute2FrontLabel = $attribute2->getFrontendLabel();
		$attribute2Options = $this->getFilteredOptions($attribute2);
		$attribute2OptionsCount = count($attribute2Options);
		
		$matrixCols = $attribute1OptionsCount;
		$matrixRows = $attribute2OptionsCount;
		
		echo "<input class='qty' type='hidden' name='ecpm_qty_format' value='".$attribute1->getAttributeCode()."/".$attribute2->getAttributeCode()."' />";
		$tdHtml = "";
		$headTr = "<th>".$attribute1FrontLabel."/".$attribute2FrontLabel.($this->getIsShowImage() ? "<br/>".__('Bulk Image')."&nbsp;<input type='checkbox' style='width: auto;' onclick='javascript:ecpmUploadRow(this);' value='1'/>" : "")."</th>";
		$tableHtml = "";
		$firstLoopCount = 0;
		$qtyLabel = $_dataHelper->__("Qty")." <br/>";
		$priceLabel = $_dataHelper->__("Price")." <br/>";
				
		foreach($attribute1Options as $key => $attribute1Option){
			if(empty($attribute1Option['value'])){
				continue;
			}
			$tdHtml .= "<tr>";
				$secondLoopCount = 0;
				foreach($attribute2Options as $attribute2Option){
					if(empty($attribute2Option['value'])){
						continue;
					}
					
					if($key==0){
						$headTr .= "<th>".$this->getMatrixFieldHead($attribute2Option,'column')."</th>";
					}
					
					if($secondLoopCount==0){
						$tdHtml .= "<th>".$this->getMatrixFieldHead($attribute1Option,'row')."</th>";
					}
					
					$tdHtml .= "<td>";
					if(isset($associatedProductsData[$attribute1Option['value']."_".$attribute2Option['value']])){
						$tdHtml .= $this->getMatrixFieldsTd($attribute1Option['value'], $attribute2Option['value'], $associatedProductsData[$attribute1Option['value']."_".$attribute2Option['value']]);
					}else{
						$tdHtml .= $this->getMatrixFieldsTd($attribute1Option['value'], $attribute2Option['value']);
					}
		
					$productId = (isset($associatedProductsIds[$attribute1Option['value']."_".$attribute2Option['value']]))?$associatedProductsIds[$attribute1Option['value']."_".$attribute2Option['value']]:false;
					if($productId){
						$tdHtml .= "<div class='edit_delete_links'><a class='edit_link' href='javascript:ecpmEditProduct(\"".$this->getEditSingleProductUrl($productId)."\")'>&nbsp;</a>&nbsp;<a class='delete_link' href='javascript:ecpmDeleteProduct(\"".$this->getDeleteSingleProductUrl($productId)."\")'>&nbsp;</a> <input class='qty' type='hidden' name='ecpm[p_ids][".$attribute1Option['value']."][".$attribute2Option['value']."]' value='".$productId."' /></div>";
					}
					
					$tdHtml .= "</td>";
					
					$secondLoopCount++;
				}
			$tdHtml .= "</tr>";
			$firstLoopCount++;
		}
		$tableHtml = "<table cellspacing='0' cellpadding='0'><tr>".$headTr."</tr>".$tdHtml."</table>";
		echo $tableHtml;
	}
} ?>
</div>

<div id="ecpm_edit_single_container" class="ecpm_edit_container" style="display:none;"></div>
<div id="ecpm_default_values_form_container" class="ecpm_edit_container" style="display:none;">
	<div class="form_container">
		<div class="row"><h4><?php echo $_dataHelper->__("Apply Default Product Values") ?></h4></div>
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("Name") ?></div>
			<div class="value"><input type="text" class="input-text" name="ecpm_default[name]" value="" placeholder="<?php echo $_dataHelper->__("Leave blank to Autogenerate")?>"/></div>
		</div>
		
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("SKU") ?></div>
			<div class="value"><input disabled type="text" class="input-text" name="ecpm_default[sku]" value="" placeholder="<?php echo $_dataHelper->__("Will be auto generated") ?>"/></div>
		</div>
		
		<?php if($this->getMatrixFields()!==false){ ?>
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("Qty") ?></div>
			<div class="value"><input type="text" class="input-text" name="ecpm_default[qty]" value="" /></div>
		</div>
		<?php } ?>
		
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("Price") ?></div>
			<div class="value"><input type="text" class="input-text" name="ecpm_default[price]" value="" /></div>
		</div>
		
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("Weight") ?></div>
			<div class="value"><input type="text" class="input-text" name="ecpm_default[weight]" value="" /></div>
		</div>
		
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("Status") ?></div>
			<div class="value">
				<?php  $productStatuses = Mage::getSingleton('catalog/product_status')->getOptionArray(); //print_r($productStatuses);?>
				<select name="ecpm_default[status]" class="input-text">
					<?php foreach($productStatuses as $productStatusKey=>$productStatus){ ?>
						<option value="<?php echo $productStatusKey ?>"><?php echo $productStatus ?></option>
					<?php } ?>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="label"><?php echo $_dataHelper->__("Visibility") ?></div>
			<div class="value">
				<?php  $visibilityOptions = Mage::getModel('catalog/product_visibility')->getOptionArray(); //print_r($visibilityOptions);?>
				<select name="ecpm_default[visibility]" class="input-text">
					<?php foreach($visibilityOptions as $visibilityKey => $visibilityValue){ ?>
						<option value="<?php echo $visibilityKey ?>"><?php echo $visibilityValue ?></option>
					<?php } ?>
				</select>
			</div>
		</div>
        
        <?php 
		if($editMode && count($attributeCodes) && count($this->getData('others_attr')) > 0){
			$dataGenaralAttr = $generalAttrs;
			$form = new Varien_Data_Form();
			$form->setFieldNameSuffix('ecpm_default');
			
			foreach($dataGenaralAttr as $ATTRID => $sinGenAttr){
				if(in_array($sinGenAttr['code'],$attributeCodes)) continue;
			?>
            	<div class="row clear">
					<div class="label"><?php echo $sinGenAttr['title'] ?></div>
					<div class="value">
			<?php 	
				$attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product', $sinGenAttr['code']);
				$inputType 		= $attribute->getFrontend()->getInputType();
				$rendererClass  = $attribute->getFrontend()->getInputRendererClass();
				$defaultClass = $bema->_getAdditionalElementTypes();
				if (!empty($rendererClass)) {
					$className = $rendererClass;
				}
				elseif(array_key_exists($inputType,$defaultClass)) {
					$className = $defaultClass[$inputType];
				}
				else {
					$className = 'Varien_Data_Form_Element_'.ucfirst(strtolower($inputType));
				}
				$element = new $className(array(
					'name'      => $attribute->getAttributeCode(),
					'label'     => $attribute->getFrontend()->getLabel(),
					'class'     => $attribute->getFrontend()->getClass(),
					'required'  => $attribute->getIsRequired(),
					'note'      => $attribute->getNote(),
				));
				$element->setId('ecpm_default_'.$attribute->getAttributeCode())->setEntityAttribute($attribute)->setForm($form);
				if ($element->getRequired()) {
					$element->addClass('required-entry ecpm_default ignore-validate input-text');
				}
				
				if($value = $_configProduct->getData($sinGenAttr['code'])){
					$element->setValue($value);
				}
				
				if ($inputType == 'select') {
					$element->setValues($attribute->getSource()->getAllOptions(true, true));
				} else if ($inputType == 'multiselect') {
					$element->setValues($attribute->getSource()->getAllOptions(false, true));
					$element->setCanBeEmpty(true);
				} else if ($inputType == 'date') {
					$element->setImage($this->getSkinUrl('images/grid-cal.gif'));
					$element->setFormat(Mage::app()->getLocale()->getDateFormatWithLongYear());
				} else if ($inputType == 'datetime') {
					$element->setImage($this->getSkinUrl('images/grid-cal.gif'));
					$element->setTime(true);
					$element->setStyle('width:50%;');
					$element->setFormat(
						Mage::app()->getLocale()->getDateTimeFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT)
					);
				} else if ($inputType == 'multiline') {
					$element->setLineCount($attribute->getMultilineCount());
				}
				echo $element->getElementHtml();
				?>
                </div>
		</div><?php 
			}
		}?>
		
		<div class="row buttons_row">
			<div class="label"><?php echo "&nbsp;" ?></div>
			<div class="value">
				<button style="" onclick="javascript:ecpmApplyDefaultFormValues()" class="scalable save" type="button" title="<?php echo $_dataHelper->__("Apply") ?>"><span><span><span><?php echo $_dataHelper->__("Apply") ?></span></span></span></button>&nbsp;
				<button style="" onclick="javascript:ecpmCancelDefaultValuesForm()" class="scalable" type="button" title="<?php echo $_dataHelper->__("Cancel") ?>"><span><span><span><?php echo $_dataHelper->__("Cancel") ?></span></span></span></button>
			</div>
		</div>
	</div>
</div>
