<?php 
$_product = $this->getData('product');
$configProductId = $this->getData('c_id');
$stockItem = $_product->getstock_item();
$_dataHelper = Mage::helper('ecpm');
$saveUrl = Mage::helper('adminhtml')->getUrl("adminhtml/ecpm/savesingle");
?>
<input type="hidden" name="edit_single[id]" value="<?php echo $_product->getId() ?>" />
<input type="hidden" name="edit_single[config_product_id]" value="<?php echo $configProductId ?>" />
<div class="form_container">
	<div class="row"><h4><?php echo $_dataHelper->__("Edit Product %s", $_product->getName()) ?></h4></div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("Name") ?></div>
		<div class="value"><input type="text" class="input-text" name="edit_single[name]" value="<?php echo $_product->getName() ?>" /></div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("SKU") ?></div>
		<div class="value"><input type="text" class="input-text" name="edit_single[sku]" value="<?php echo $_product->getSku() ?>" /></div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("Qty") ?></div>
		<div class="value"><input type="text" class="input-text" name="edit_single[qty]" value="<?php echo $stockItem->getQty() ?>" /></div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("Price") ?></div>
		<div class="value"><input type="text" class="input-text" name="edit_single[price]" value="<?php echo $_product->getPrice() ?>" /></div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("Weight") ?></div>
		<div class="value"><input type="text" class="input-text" name="edit_single[weight]" value="<?php echo $_product->getWeight() ?>" /></div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("In Stock") ?></div>
		<div class="value">
			<?php $stockOptionArray = Mage::getSingleton('cataloginventory/source_stock')->toOptionArray(); ?>
			<select name="edit_single[is_in_stock]" class="input-text">
				<?php foreach($stockOptionArray as $stockOption){ ?>
					<option value="<?php echo $stockOption['value'] ?>" <?php echo ($stockItem->getis_in_stock()==$stockOption['value'])?"selected":""; ?>><?php echo $stockOption['label'] ?></option>
				<?php } ?>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("Visibility") ?></div>
		<div class="value">
			<?php  $visibilityOptions = Mage::getModel('catalog/product_visibility')->getOptionArray(); //print_r($visibilityOptions);?>
			<select name="edit_single[visibility]" class="input-text">
				<?php foreach($visibilityOptions as $visibilityKey => $visibilityValue){ ?>
					<option value="<?php echo $visibilityKey ?>" <?php echo ($_product->getvisibility()==$visibilityKey)?"selected":""; ?>><?php echo $visibilityValue ?></option>
				<?php } ?>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="label"><?php echo $_dataHelper->__("Status") ?></div>
		<div class="value">
			<?php  $productStatuses = Mage::getSingleton('catalog/product_status')->getOptionArray(); //print_r($productStatuses);?>
			<select name="edit_single[status]" class="input-text">
				<?php foreach($productStatuses as $productStatusKey=>$productStatus){ ?>
					<option value="<?php echo $productStatusKey ?>" <?php echo ($_product->getstatus()==$productStatusKey)?"selected":""; ?>><?php echo $productStatus ?></option>
				<?php } ?>
			</select>
		</div>
	</div>
	
	<?php 
		if($configProductId && $this->hasData('others_attr')){
			$bema = new Best4Mage_Ecpmpro_Model_Attributes();
			$others_attr = $this->getData('others_attr');
			$bema->setDefaultAttributeId($others_attr);
			$dataGenaralAttr = $bema->getAvailableSwatchAttributes($_product->getAttributeSetId());

			$form = new Varien_Data_Form();
			$form->setFieldNameSuffix('edit_single');
			
			foreach($dataGenaralAttr as $ATTRID => $sinGenAttr){
			?>
            	<div class="row clear">
					<div class="label"><?php echo $sinGenAttr['title'] ?></div>
					<div class="value">
			<?php 	
				$attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product', $sinGenAttr['code']);
				$inputType 		= $attribute->getFrontend()->getInputType();
				$rendererClass  = $attribute->getFrontend()->getInputRendererClass();
				$defaultClass = $bema->_getAdditionalElementTypes();
				if (!empty($rendererClass)) {
					$className = $rendererClass;
				}
				elseif(array_key_exists($inputType,$defaultClass)) {
					$className = $defaultClass[$inputType];
				}
				else {
					$className = 'Varien_Data_Form_Element_'.ucfirst(strtolower($inputType));
				}
				$element = new $className(array(
					'name'      => $attribute->getAttributeCode(),
					'label'     => $attribute->getFrontend()->getLabel(),
					'class'     => $attribute->getFrontend()->getClass(),
					'required'  => $attribute->getIsRequired(),
					'note'      => $attribute->getNote(),
				));
				$element->setId('ecpm_default_'.$attribute->getAttributeCode())->setEntityAttribute($attribute)->setForm($form);
				if ($element->getRequired()) {
					$element->addClass('required-entry ecpmpro_default ignore-validate');
				}
				
				if($value = $_product->getData($sinGenAttr['code'])){
					$element->setValue($value);
				}
				
				if ($inputType == 'select') {
					$element->setValues($attribute->getSource()->getAllOptions(true, true));
				} else if ($inputType == 'multiselect') {
					$element->setValues($attribute->getSource()->getAllOptions(false, true));
					$element->setCanBeEmpty(true);
				} else if ($inputType == 'date') {
					$element->setImage($this->getSkinUrl('images/grid-cal.gif'));
					$element->setFormat(Mage::app()->getLocale()->getDateFormatWithLongYear());
				} else if ($inputType == 'datetime') {
					$element->setImage($this->getSkinUrl('images/grid-cal.gif'));
					$element->setTime(true);
					$element->setStyle('width:50%;');
					$element->setFormat(
						Mage::app()->getLocale()->getDateTimeFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT)
					);
				} else if ($inputType == 'multiline') {
					$element->setLineCount($attribute->getMultilineCount());
				}
				echo $element->getElementHtml();
				?>
                </div>
		</div><?php 
			}
		}?>
		<?php /*
	<input type="hidden" id="next_step_matrix_data" name="next_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('default_attribute'));?>' />
	<?php if($this->hasData('others_attr')):?>
		<input type="hidden" id="middle_step_matrix_data" name="middle_step_matrix_data" value='<?php echo Mage::helper('core')->jsonEncode($this->getData('others_attr'));?>' />
	<?php endif;?> */ ?>
	
	<div class="row buttons_row">
		<div class="label"><?php echo "&nbsp;" ?></div>
		<div class="value">
			<button style="" onclick="javascript:ecpmSaveSingleProduct('<?php echo $saveUrl ?>')" class="scalable save" type="button" title="<?php echo $_dataHelper->__("Update Product") ?>" id="ecpm_save_single_product"><span><span><span><?php echo $_dataHelper->__("Update Product") ?></span></span></span></button>&nbsp;
			<button style="" onclick="javascript:ecpmCancelSaveSingleProduct()" class="scalable" type="button" title="<?php echo $_dataHelper->__("Cancel") ?>" id="ecpm_save_single_product"><span><span><span><?php echo $_dataHelper->__("Cancel") ?></span></span></span></button>
		</div>
	</div>
</div>
