/* Below css added by Rakesh Date: 11/09/2018 */

.header .welcome-msg, .box-support .box-phone .media-body p, .box-support .box-email .media-body p a{ color:#000000 !important; }
.header .top-form-language .dropdown-toggle .value, .header .currency_top .dropdown-toggle .label, .header .currency_top .dropdown-toggle .value, .header .toplinks .links-switcher .login_click{color:#000000 !important;}
.magicmenu .nav-desktop .level0 .level-top{color: #FFFFFF !important;}
.social-icons{margin-top: 200px !important;}
.meanmenu-reveal{    right: 20px !important;}
.header .inner-box{padding: 30px 0 20px;}
.header-top{background-color: #FFFFFF !important;}
.header h1.logo, .header .logo{margin-left: 40%;}
.item .actions-no .add-to-links a.link-compare{display: none;}
.product-view .product-shop .add-to-links{    width: 100px;clear: inherit;padding-left: 10px;padding-top: 1px;border: none;}
.checkout-cart-index .container{padding-top: 20px;}
.checkout-cart-index .cart-empty{margin-bottom: 20px;text-align: center;}
.checkout-cart-index .cart-empty-image{margin: 20px;}
.catalogsearch-result-index .f-right{float: left !important;}
.page-title{margin-top: 20px;}
.block-title{margin-top: 20px !important;}
.opc .buttons-set button.button{float: left;}
.opc .buttons-set{padding-top: 1em;padding-bottom: 1em;}
#billing-new-address-form .customer-name-middlename .field{float: left;}
#billing-new-address-form .form-list .field{width: 190px;}
#checkout-review-submit .buttons-set .btn-checkout{float: right;}