<?php
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    GST Module
 * @package     GST
 * @copyright   Copyright (c) 20170 .Codilar. (http://www.codilar.com)
 * @purpose     [BRIEF ABOUT THE FILE]
 * @author       Codilar Team
 **/
?>
<?php
    $_order  = $this->getOrder();
    $_source = $this->getSource();
    $_fullInfo = $_order->getFullTaxInfo();
    $isWeee = false;
    if(preg_match("/^1.9/", Mage::getVersion())){
        $isWeee = true; 
    }
    if($isWeee){
        $_weees = $this->helper('tax')->getAllWeee($_order);
    }
    global $taxIter; $taxIter++;
    $hasItemsInTaxSection = 0;
?>
<?php
$CreatedAt = $_order->getCreatedAt();
$helper = Mage::helper('codilar_gst');
$lstdate = $helper->orderDate();
$store_id =  $_order->getStoreId();
$_shippingAddress = $_order->getShippingAddress();
$shipping_city = $_shippingAddress->getRegion() ;
$production_state = Mage::getStoreConfig('general/gst_options/gst_state', $store_id);
?>
<?php  ?>
<?php if($CreatedAt < $lstdate) { ?>
    
<?php if ($this->displayFullSummary()): ?>
<?php $isTop = 1; ?>
    <?php if ($_fullInfo) foreach ($_fullInfo as $info): ?>
        <?php if (isset($info['hidden']) && $info['hidden']) continue; ?>
        <?php
            $percent    = $info['percent'];
            $amount     = $info['amount'];
            $rates      = $info['rates'];
            $isFirst    = 1;
        ?>
        <?php foreach ($rates as $rate): ?>
        <tr class="summary-details-<?php echo $taxIter; ?> summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"<?php if (!$this->getIsPlaneMode()):?> style="display:none;"<?php endif;?>>
            <td <?php echo $this->getLabelProperties()?>>
                <?php echo $this->escapeHtml($rate['title']); ?>
                <?php if (!is_null($rate['percent'])): ?>
                    (<?php echo (float)$rate['percent']; ?>%)
                <?php endif; ?>
                <br />
            </td>
            <?php if ($isFirst): ?>
                <td <?php echo $this->getValueProperties()?> rowspan="<?php echo count($rates); ?>">
                    <?php echo $_order->formatPrice($amount); ?>
                </td>
            <?php endif; ?>
        </tr>
        <?php $isFirst = 0; ?>
        <?php $isTop = 0; ?>
        <?php $hasItemsInTaxSection = 1 ?>
        <?php endforeach; ?>
    <?php endforeach; ?>

    <?php if($isWeee): ?>
    <?php foreach ($_weees as $weeeTitle => $weeeAmount): ?>
        <tr class="summary-details-<?php echo $taxIter; ?> summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"<?php if (!$this->getIsPlaneMode()):?> style="display:none;"<?php endif;?>>
            <td <?php echo $this->getLabelProperties()?>>
                <?php echo $this->escapeHtml($weeeTitle); ?>
                <br/>
            </td>
            <td <?php echo $this->getValueProperties()?> rowspan="1">
                <?php echo $_order->formatPrice($weeeAmount); ?>
            </td>
        </tr>
        <?php $hasItemsInTaxSection = 1 ?>
    <?php endforeach; ?>
    <?php endif; ?>

<?php endif;?>

<?php if ($this->displayFullSummary() && $hasItemsInTaxSection && !$this->getIsPlaneMode()): ?>
<tr class="summary-total" onclick="expandDetails(this, '.summary-details-<?php echo $taxIter;?>')">
<?php elseif ($this->displayFullSummary() && $hasItemsInTaxSection && $this->getIsPlaneMode()): ?>
<tr class="show-details">
<?php else: ?>
<tr>
<?php endif; ?>
    <td <?php echo $this->getLabelProperties()?>>
        <?php if ($this->displayFullSummary() && !$this->getIsPlaneMode()): ?>
            <div class="summary-collapse"><?php echo $this->__('Tax'); ?></div>
        <?php else: ?>
            <?php echo $this->__('Tax'); ?>
        <?php endif;?>
    </td>
    <td <?php echo $this->getValueProperties()?>><?php echo $_order->formatPrice($_source->getTaxAmount()) ?></td>
</tr>

<?php }else{ ?>

    <?php if(strcasecmp($shipping_city,$production_state) == 0 ){  ?>
        <?php $tax_define = $_source->getTaxAmount(); ?>
        <?php $tax_edit = $tax_define/2; ?>

    <?php if ($this->displayFullSummary()): ?>
<?php $isTop = 1; ?>
        <tr class="summary-details-<?php echo $taxIter; ?> summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"<?php if (!$this->getIsPlaneMode()):?> style="display:none;"<?php endif;?>>
            <td <?php echo $this->getLabelProperties()?>>
                <?php echo $this->escapeHtml('CGST'); ?>
                <?php// if (!is_null($rate['percent'])): ?>
                    <!-- (<?php //echo (float)$rate['percent']; ?>%) -->
                <?php// endif; ?>
                <br />
            </td>
                <td <?php echo $this->getValueProperties()?> rowspan="<?php ?>">
                    <?php echo $_order->formatPrice($tax_edit); ?>
                </td>
        </tr>
        <tr class="summary-details-<?php echo $taxIter; ?> summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"<?php if (!$this->getIsPlaneMode()):?> style="display:none;"<?php endif;?>>
            <td <?php echo $this->getLabelProperties()?>>
                <?php echo $this->escapeHtml('SGST'); ?>
                <?php// if (!is_null($rate['percent'])): ?>
                    <!-- (<?php //echo (float)$rate['percent']; ?>%) -->
                <?php// endif; ?>
                <br />
            </td>
                <td <?php echo $this->getValueProperties()?> rowspan="<?php ?>">
                    <?php echo $_order->formatPrice($tax_edit); ?>
                </td>
        </tr>
        <?php $isTop = 0; ?>

<?php endif;?>

<?php if ($this->displayFullSummary() && $hasItemsInTaxSection && !$this->getIsPlaneMode()): ?>
<tr class="summary-total" onclick="expandDetails(this, '.summary-details-<?php echo $taxIter;?>')">
<?php elseif ($this->displayFullSummary() && $hasItemsInTaxSection && $this->getIsPlaneMode()): ?>
<tr class="show-details">
<?php else: ?>
<tr>
<?php endif; ?>
    <td <?php echo $this->getLabelProperties()?>>
        <?php if ($this->displayFullSummary() && !$this->getIsPlaneMode()): ?>
            <div class="summary-collapse"><?php echo $this->__('GST'); ?></div>
        <?php else: ?>
            <?php echo $this->__('GST'); ?>
        <?php endif;?>
    </td>
    <td <?php echo $this->getValueProperties()?>><?php echo $_order->formatPrice($_source->getTaxAmount()) ?></td>
</tr>

<?php  }else{ ?>
    <?php $tax_define = $_source->getTaxAmount(); ?>
    <?php if ($this->displayFullSummary()): ?>
<?php $isTop = 1; ?>
        <tr class="summary-details-<?php echo $taxIter; ?> summary-details<?php if ($isTop): echo ' summary-details-first'; endif; ?>"<?php if (!$this->getIsPlaneMode()):?> style="display:none;"<?php endif;?>>
            <td <?php echo $this->getLabelProperties()?>>
                <?php echo $this->escapeHtml('IGST'); ?>
                <?php// if (!is_null($rate['percent'])): ?>
                    <!-- (<?php //echo (float)$rate['percent']; ?>%) -->
                <?php// endif; ?>
                <br />
            </td>
                <td <?php echo $this->getValueProperties()?> rowspan="<?php ?>">
                    <?php echo $_order->formatPrice($tax_define); ?>
                </td>
        </tr>
        <?php $isTop = 0; ?>
<?php endif;?>

<?php if ($this->displayFullSummary() && $hasItemsInTaxSection && !$this->getIsPlaneMode()): ?>
<tr class="summary-total" onclick="expandDetails(this, '.summary-details-<?php echo $taxIter;?>')">
<?php elseif ($this->displayFullSummary() && $hasItemsInTaxSection && $this->getIsPlaneMode()): ?>
<tr class="show-details">
<?php else: ?>
<tr>
<?php endif; ?>
    <td <?php echo $this->getLabelProperties()?>>
        <?php if ($this->displayFullSummary() && !$this->getIsPlaneMode()): ?>
            <div class="summary-collapse"><?php echo $this->__('GST'); ?></div>
        <?php else: ?>
            <?php echo $this->__('GST'); ?>
        <?php endif;?>
    </td>
    <td <?php echo $this->getValueProperties()?>><?php echo $_order->formatPrice($_source->getTaxAmount()) ?></td>
</tr>

    <?php } ?>

    <?php } ?>
