<?php
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    GST Module
 * @package     GST
 * @copyright   Copyright (c) 20170 .Codilar. (http://www.codilar.com)
 * @purpose     [BRIEF ABOUT THE FILE]
 * @author       Codilar Team
 **/
/**
 * @var $this Mage_Tax_Block_Checkout_Grandtotal
 * @see Mage_Tax_Block_Checkout_Grandtotal
 */
?>
<?php if ($this->includeTax() && $this->getTotalExclTax()>=0):?>
    <tr>
        <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
            <strong><?php echo $this->helper('tax')->__('Grand Total Excl. GST')?></strong>
        </td>
        <td style="<?php echo $this->getStyle() ?>" class="a-right">
            <strong><?php echo $this->helper('checkout')->formatPrice($this->getTotalExclTax()) ?></strong>
        </td>
    </tr>
    <?php echo $this->renderTotals('taxes', $this->getColspan()); ?>
    <tr>
        <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
            <strong><?php echo $this->helper('tax')->__('Grand Total Incl. GST')?></strong>
        </td>
        <td style="<?php echo $this->getStyle() ?>" class="a-right">
            <strong><?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?></strong>
        </td>
    </tr>
<?php else:?>
    <tr>
        <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
            <strong><?php echo $this->getTotal()->getTitle() ?></strong>
        </td>
        <td style="<?php echo $this->getStyle() ?>" class="a-right">
            <strong><?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?></strong>
        </td>
    </tr>
<?php endif;?>
