.mageworx-customersonline-popups{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 170px;
}
.mageworx-customersonline-popup{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
.mageworx-customersonline-cnt{
    position: relative;
    color: #fff;
    padding: 5px;
    z-index: 1000;
}
.mageworx-customersonline-cnt:after{
    background-color: #000;
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    z-index: -1;
}
.mageworx-customersonline-close {
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    width: 12px;
    height: 13px;
    line-height: 13px;
    cursor: pointer;
}