<?php
/**
 * Codilar Technologies Pvt. Ltd.
 * @category    GST Module
 * @package     GST
 * @copyright   Copyright (c) 20170 .Codilar. (http://www.codilar.com)
 * @purpose     [BRIEF ABOUT THE FILE]
 * @author       Codilar Team
 **/
?>
<?php $_order = $this->getOrder() ?>
<?php $CreatedAt = $_order->getCreatedAt();
    $helper = Mage::helper('codilar_gst');
    $lstdate = $helper->orderDate();
    $store_id =  $_order->getStoreId();
?>
<div class="grid np">
  <div class="hor-scroll">
    <table cellspacing="0" class="data order-tables">
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo $this->helper('sales')->__('Product') ?></th>
                <th><?php echo $this->helper('sales')->__('Price') ?></th>
                <th class="a-center"><?php echo $this->helper('sales')->__('Qty') ?></th>
                <th class="a-center"><?php echo $this->helper('sales')->__('HSN') ?></th>
                <th><?php echo $this->helper('sales')->__('Subtotal') ?></th>
                <?php if($CreatedAt < $lstdate){ ?>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Tax Amount') ?></span></th>
                <?php }else{ ?>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('CGST') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('SGST') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('IGST') ?></span></th>
                <?php } ?>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Discount Amount') ?></span></th>
                <th class="last"><span class="nobr"><?php echo $this->helper('sales')->__('Row Total') ?></span></th>
            </tr>
        </thead>
        <?php $_items = $this->getInvoice()->getAllItems() ?>
        <?php $i=0;foreach ($_items as $_item): ?>
            <?php if ($_item->getOrderItem()->getParentItem()) continue; else $i++; ?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
                <?php echo $this->getItemHtml($_item) ?>
                <?php echo $this->getItemExtraInfoHtml($_item->getOrderItem()) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
  </div>
</div>
<br />
