#ecpm_save_products {width:100%; overflow:auto;}
#ecpm_save_products table {
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
#ecpm_save_products table tr {
}
#ecpm_save_products table tr th {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 2px 5px;
    text-align: center;
    color:#000;
    
     /* Safari 4-5, Chrome 1-9 */ 
     /*background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(0.25, #bbb), color-stop(0.5, #000), color-stop(0.75, #bbb), to(#000)); */
     
     /* Safari 5.1+, Chrome 10+ */ 
     /*background: -webkit-linear-gradient(left, #000, #bbb, #000, #bbb, #000); */
     
     /* Firefox 3.6+ */ 
     /*background: -moz-linear-gradient(left, #000, #bbb, #000, #bbb, #000); */
     
     /* IE 10 */ 
     /*background: -ms-linear-gradient(left, #000, #bbb, #000, #bbb, #000); */
     
     /* Opera 11.10+ */ 
     /*background: -o-linear-gradient(left, #000, #bbb, #000, #bbb, #000);*/
     
    background-image:     -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
    background-image:     -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
    background-image:     gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
    
    background-color:#ccc;

    -webkit-transition: background .2s ease-in-out;
    -moz-transition:     background .2s ease-in-out;
    transition:         background .2s ease-in-out;
}
#ecpm_save_products table tr td {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 2px 5px;
}

#ecpm_save_products table tr td input, #ecpm_save_products table tr td select{
    width:50px;
}
#ecpm_save_products table tr td .edit_delete_links{width:40px; margin:5px auto; }
#ecpm_save_products table tr td .edit_link{background:url(images/edit.png) 0 0 no-repeat transparent; display:block; width:16px; height:16px; text-decoration:none; float:left; margin-top:2px; }
#ecpm_save_products table tr td .delete_link{background:url(images/delete.png) 0 0 no-repeat transparent; display:block; width:16px; height:16px; text-decoration:none; float:left; margin-top:2px; margin-left:5px;}

.ecpm_edit_container{    background-color: #FFFFFF;
    box-shadow: 0 0 10px 3px #888888;
    left: 50%;
    margin-left: -250px;
    padding: 20px;
    position: fixed;
    top: 20px;
    width: 500px;}
    
.ecpm_edit_container .form_container{width:350px; margin:auto;}
.ecpm_edit_container .form_container .row{margin:5px 0; }
.ecpm_edit_container .form_container .row h4{}
.ecpm_edit_container .form_container .row .label{float: left; width: 170px;}
.ecpm_edit_container .form_container .row .value{}
.ecpm_edit_container .form_container .buttons_row .value{width:300px;}
.ecpm_image{background-color: #DDDDDD;border: 1px solid #CCCCCC;padding: 2px;}
#ecpm_save_products table tr td .ecpm_upload_button{background:url(images/upload.png) 0 0 no-repeat transparent; display:block; width:26px; height:26px; text-decoration:none;border: medium none;cursor: pointer; margin: 0 auto;}
#ecpm_save_products table tr td .ecpm_upload_add_button{background:url(images/addUpload.png) 0 0 no-repeat transparent; display:block; width:20px; height:20px; text-decoration:none;border: medium none;cursor: pointer; margin: 0 auto;}
#ecpm_save_products .no-table-padding { border-bottom: medium none; padding: 0;}
#ecpm_save_products table table {border: medium none;width: 100%;}
#ecpm_save_products table table tr td { border-left: medium none; white-space: nowrap;}
#leftAttributeGrid > table { background: none repeat scroll 0 0 #eeeeee;}
#ecpm_save_products #leftAttributeGrid table tr td input{width:20px;}

